/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  
  background-color: *var(--background-color);
  background-attachment: fixed;
  font-family: var(--font-family);
  font-size: var(--font-size);
  min-inline-size: 375px;
  max-inline-size: 1024px;
  /* Проверка маленького размера */

}

/* Хедер */

.header {
  width: 100%;
  height: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  gap: 60px;
  background-image: var( --background-image);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  position: relative;
}

/* меню  */
.header__theme-menu {
  justify-self:end;
  align-self: center;
  margin-block-start: 63px;
  color: var(--decor-color);
  font-family: var(--font-family);
  font-weight: 400;
}

.header__theme-menu-list {
  display: grid;
  justify-content: center;
  gap: 8px;
}

/* кнопки меню и состояния */
.header__theme-menu-button {
  border: 1px solid transparent;
  background: transparent;
  text-transform: lowercase;
  padding: 1px 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--decor-color);
}

.header__theme-menu-button:focus {
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 1px solid var(--decor-color);
}

/* Заголовок сайта */
.header__title {
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-heading-color);
  text-shadow: 4px 4px var(--accent-color);
  line-height: 83%;
  


  
}

/* Подзаголовок сайта */
.header__text {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--header-subtitile-color);
  font-weight: 700;
  max-height: 117px;
}

/* заливка в заголовках */
.accent-decor{
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Уголки */
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  top: 11px; /* сдвигала по паддингам,  но нужно посмотреть как будут смотреться на больших размерах */
  right: 10px; /* сдвигала по паддингам,  но нужно посмотреть как будут смотреться на больших размерах */
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  left: 10px;/* сдвигала по паддингам,  но нужно посмотреть как будут смотреться на больших размерах */
  bottom: 9px;/* сдвигала по паддингам,  но нужно посмотреть как будут смотреться на больших размерах */
}

/* REC */
.decor::before {
  content: "REC";
  position: absolute;
  color: var(--decor-color);
  text-transform: uppercase;
  text-align: center;
  top: 12px;/* сдвигала по паддингам,  но нужно посмотреть как будут смотреться на больших размерах */
  right: 39px;/* сдвигала по паддингам,  но нужно посмотреть как будут смотреться на больших размерах */
}

.decor::after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decor-color);
  background-color: var(--decor-color);
  inline-size: 9px;
  top: 21px; /* сдвигала по паддингам,  но нужно посмотреть как будут смотреться на больших размерах */
  right: 20px; /* сдвигала по паддингам,  но нужно посмотреть как будут смотреться на больших размерах */
  min-height: 9px;
  min-width: 9px;
}

/* main */

.main {
 padding: 0 10px; /* Проверка маленького размера */
 margin-top: 41px;
}

/* section */

.content {
  display: grid;
  grid-template-columns: auto; /* Проверка маленького размера */
  gap: 18px; /* Проверка маленького размера */
  margin-block-end: 46px;
}

.content__title {
  font-family: var(--font-family);
  color: var(--section-title-color);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
}

.article-item {
  display: grid;
  gap: 10px;
}

.article__title{
  color: var( --article-title-color);
  font-family: var(--font-family);
  font-size: var(--font-size);

}

.article__text {
  color: var(--text-color);
  font-size: var(--font-size);
}

.article__text-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
  cursor: pointer;
}

.article-item-title {
  font-weight: 400;
  color: var(--article-title-color);
  margin-block-start: 7px;
}

.content__container-image{
  display: grid;
  gap: 10px;
}

.container-image {
  width: 100%;
  height: auto;
}


/* footer */
.footer {
position: relative;
text-align: center;
padding-top: 286px;
padding-bottom: 285px;
}

.footer__title {
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-heading-color);
  text-shadow: 4px 4px var(--accent-color);
  line-height: 83%
}

@media (min-width: 375px)  {
  
}


@media (min-width: 768px)  {
  
}

@media (min-width: 1024px) {
 
  }
